<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid"> <h2>ESERCIZIO 2</h2>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" [routerLink]="['/attivi']">Post attivi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" [routerLink]="['/non-attivi']">Post non attivi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
