.container-fluid{
  min-height: 873px;
  background-image: url(https://cdn.cbeditz.com/cbeditz/preview/bighead-gradient-hd-wallpaper-background-hq-11624179916yllrdo3uzu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form{
  border-color: white;
  background: inherit;
  color: white;
}

.form-login{
  width: 400px;
  margin-top: 10em;
  height: 400px;
  background: scroll;
background-color: black;
border-color: black;
}
