.contenitore {
  min-height: 100vh;
  background: -webkit-linear-gradient(left, rgba(255,48,25,1) 19%,rgba(207,4,4,1) 92%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  border-color: white;
  background: inherit;
  color: white;
  border-radius: 50px;
  text-align: center;
}

.form-login {
  width: 50vh;
  height: 35vh;
  margin-top: 5em;
  background-color: black;
}
