.sfondo {
  min-height: 100vh;
  background: -webkit-linear-gradient(left, rgba(255,48,25,1) 19%,rgba(207,4,4,1) 92%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  object-fit: cover;
  aspect-ratio: 1/1;
}


