<div class="container-fluid contenitore">
  <h2 class="text-center text-dark">• INFO UTENTE •</h2>
  <div class="mt-5 ms-5">
    <h3>Nome: <span>{{user?.user?.nome}}</span></h3>
    <h3>Email: <span>{{user?.user?.email}}</span> </h3>
    <h3>Id: <span>{{user?.user?.id}}</span></h3>
  </div>

  <div class="d-flex justify-content-evenly mt-5">
    <button class="btn btn-dark" [routerLink]="['film-preferiti']">FILM PREFERITI UTENTE</button>
    <button class="btn btn-dark" [routerLink]="['/film']">TORNA A FILM</button>
  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

</div>
