.contenitore {
  min-height: 100vh;
  background-image: url(https://cdn.cbeditz.com/cbeditz/preview/bighead-gradient-hd-wallpaper-background-hq-11624179916yllrdo3uzu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

