<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://media.gettyimages.com/id/1226238618/it/vettoriale/elenco-di-cose-da-fare-disegnate-a-mano.jpg?s=612x612&w=0&k=20&c=YxfMPSXwyVmckiRXIKp0VfNJi9A9TB3-E7YQQHpQ2Ns=" height="50" alt="logo-todo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/todo']">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/completati']">Completati</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
